.popover {
    /* Anchor Positioning */
    position-anchor: --user-btn;
    top: calc(anchor(bottom) + 0.5rem);
    right: anchor(right);

    /* Reset UA defaults */
    left: auto;
    bottom: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}

.input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submitBtn {
    background-color: #646cff;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}