.container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.userButton {
  anchor-name: --user-btn;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.userButton:hover {
  background-color: #535bf2;
}
