.badge {
    --badge-color: var(--color-brand-primary);

    display: inline-flex;
    align-items: center;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-pill);
    font-size: var(--text-xs);
    font-weight: var(--font-semibold);

    background: oklch(from var(--badge-color) 95% calc(c / 2) h);
    color: oklch(from var(--badge-color) 35% c h);
    border: 1px solid oklch(from var(--badge-color) 85% calc(c / 1.5) h);


    &.success {
        --badge-color: var(--color-success);
    }

    &.warning {
        --badge-color: var(--color-warning);
    }

    &.danger {
        --badge-color: var(--color-error);
    }

    &.info {
        --badge-color: var(--color-info);
    }
}