:root {
    --color-primary: #646cff;
    --color-primary-hover: #535bf2;
    --color-danger: #ff4646;

    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f9f9f9;

    --color-text-primary: #213547;
    --color-text-secondary: #666666;
    --color-text-inverse: #ffffff;

    --color-border: #cccccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-primary: #242424;
        --color-bg-secondary: #1a1a1a;

        --color-text-primary: rgba(255, 255, 255, 0.87);
        --color-text-secondary: rgba(235, 235, 235, 0.6);

        --color-border: #444444;
    }
}